* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

textarea::placeholder,
input::placeholder {
    line-height: normal;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.input-wrapper input {
    padding-top: 0;
    padding-bottom: 0;
}